
__pycache__/config.cpython-37.pyc

__pycache__/flame.cpython-37.pyc

model/female_model.pkl

model/flame_dynamic_embedding.npy

model/flame_static_embedding.pkl

model/generic_model.pkl

model/male_model.pkl

Results/imgHQ00039_scale.npy

Results/imgHQ00039.mtl

Results/imgHQ00039.obj

Results/imgHQ00039.png

utils/__pycache__/project_on_mesh.cpython-37.pyc
