absl-py==0.9.0
astor==0.8.1
attrs==19.3.0
Automat==20.2.0
backcall==0.1.0
certifi==2020.4.5.1
cffi==1.14.0
chumpy==0.69
constantly==15.1.0
cryptography==2.9
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
dlib==19.19.0
face-alignment==1.0.0
freetype-py==2.1.0.post1
future==0.18.2
fvcore==0.1.dev200325
gast==0.2.2
google-pasta==0.2.0
grpcio==1.28.1
h5py==2.10.0
hyperlink==19.0.0
idna==2.9
imageio==2.8.0
imutils==0.5.3
incremental==17.5.0
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
lxml==4.5.0
Markdown==3.2.1
matplotlib==3.2.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
networkx==2.4
numpy==1.18.2
olefile==0.46
opencv-python==4.2.0.34
opt-einsum==3.2.0
parsel==1.5.2
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.1
portalocker==1.7.0
prompt-toolkit==3.0.5
Protego==0.1.16
protobuf==3.11.3
psbody-mesh==0.3
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
pyglet==1.5.3
Pygments==2.6.1
PyHamcrest==2.0.2
PyOpenGL==3.1.5
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrender==0.1.39
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.0
queuelib==1.5.0
scikit-image==0.16.2
scipy==1.4.1
Scrapy==2.0.1
service-identity==18.1.0
six==1.14.0
smplx==0.1.13
tabulate==0.8.7
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.2
termcolor==1.1.0
torch==1.4.0
torchgeometry==0.1.2
torchvision==0.5.0
tqdm==4.45.0
traitlets==4.3.3
trimesh==3.6.18
Twisted==20.3.0
vtk==8.1.2
vtkplotter==2020.2.3
w3lib==1.21.0
wcwidth==0.1.9
Werkzeug==1.0.1
wrapt==1.12.1
yacs==0.1.6
zope.interface==5.1.0
